custom-app {
  display: block;
  padding: 2rem;
  box-sizing: border-box;
}

/* monitor columns */

#hud {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling */
}

#hud > * {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#hud app-store-table {
  flex: 0.6;
}
#hud event-log-table {
  flex: 0.4;
}

/* monitor table properties */

@keyframes flash-anim {
  0% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  30% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes heartbeat-anim {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#hud {
  table {
    max-width: 100%;
    font-size: 1.2vw;
  }
  th,
  td {
    padding: calc(var(--pico-spacing) / 4) calc(var(--pico-spacing) / 6);
    overflow: hidden;
    background-color: transparent;
    color: inherit;

    white-space: nowrap;
    /* line-break: anywhere;
    white-space: break-spaces; */
  }
  .flash {
    animation: flash-anim 1.5s 1;
  }
  .heartbeat td.heartbeat {
    transform-origin: 0 center;
    animation: heartbeat-anim 1.5s 1;
  }
}
