custom-app {
  display: block;
  padding: 2rem;
  box-sizing: border-box;
}

header {
  background: var(--pico-card-background-color);
  padding: 0vw 2vw;
  border-radius: 6px;
  margin-bottom: 2vw;
}

/* monitor columns */

#hud {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling */
}

#hud > * {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#hud app-store-table {
  flex: 0.6;
}
#hud event-log-table {
  flex: 0.4;
}

app-store-table-row {
  display: table-row;
}

/* monitor table properties */

@keyframes flash-anim {
  0% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  30% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flash-anim-heartbeat {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  30% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes heartbeat-anim {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#hud {
  table {
    max-width: 100%;
    font-size: 1.2vw;
  }
  th,
  td {
    padding: calc(var(--pico-spacing) / 4) calc(var(--pico-spacing) / 6);
    overflow: hidden;
    background-color: transparent;
    color: inherit;

    white-space: nowrap;
    /* line-break: anywhere;
    white-space: break-spaces; */
  }
  .row-actions {
    /* text-align: center; */
    span {
      cursor: pointer;
    }
  }
  .flash {
    animation: flash-anim 2s 1;
  }
  [data-row-type="heartbeat"].flash {
    animation: flash-anim-heartbeat 1.5s 1;
  }
  .heartbeat td.heartbeat span {
    display: inline-block;
    transform-origin: center center;
    animation: heartbeat-anim 1.5s 1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 2rem;
  background: var(--pico-card-background-color);
  width: 100%;
}
