custom-app {
  display: block;
  padding: 2rem;
  box-sizing: border-box;
}

#hud {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling */
}

#hud > * {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  /* width: 50%; */
  /* text-align: right; */
}

#hud > table {
  width: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Adjust the width as needed */
  /* max-width: 200px; */
  /* display: inline-block; */
  vertical-align: top;
}
