custom-app {
  display: block;
  padding: 2rem;
  box-sizing: border-box;
}

header,
h4 {
  background: var(--pico-card-background-color);
  padding: 0vw 2vw;
  border-radius: 6px;
  margin-bottom: 2vw;
}
article > label {
  background-color: var(--pico-progress-background-color);
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

/* monitor columns */

#hud {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling */
}

#hud > * {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#hud app-store-table {
  flex: 0.6;
}
#hud event-log-table {
  flex: 0.4;
}

app-store-table-row {
  display: table-row;
}

/* table row animations */

@keyframes flash-anim {
  0% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  30% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flash-anim-heartbeat {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  30% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes heartbeat-anim {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* table styles */

#hud {
  table {
    max-width: 100%;
    font-size: 1.2vw;
  }
  th,
  td {
    padding: calc(var(--pico-spacing) / 4) calc(var(--pico-spacing) / 6);
    overflow: hidden;
    background-color: transparent;
    color: inherit;

    white-space: nowrap;
    /* line-break: anywhere;
    white-space: break-spaces; */
  }
  .row-actions {
    /* text-align: center; */
    span {
      cursor: pointer;
    }
  }
  .flash {
    animation: flash-anim 2s 1;
  }
  [data-row-type="heartbeat"].flash {
    animation: flash-anim-heartbeat 1.5s 1;
  }
  .heartbeat td.heartbeat span {
    display: inline-block;
    transform-origin: center center;
    animation: heartbeat-anim 1.5s 1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 2rem;
  background: var(--pico-card-background-color);
  width: 100%;
}

/* responsive table layout */

@media screen and (max-width: 959px) {
  #hud {
    flex-direction: column;
    gap: 0;
  }

  article > label {
    font-size: 2vw;
  }

  #hud table {
    max-width: 100%;
    font-size: 2vw;
  }
}

/* special table elements */

/* pico input override w/ :not */
event-log-table input:not([type="checkbox"], [type="radio"], [type="range"]) {
  font-size: 0.7rem;
  padding: 0.5rem;
  height: 2rem;
}

/* pico responsive override - always keep 2 columns */
event-log-table .grid.filters {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  font-size: 12px !important;
  align-items: end;
}
